body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    margin: 0;
    user-select: none;

    background: linear-gradient(135deg, #f2e5e5 0%, #fcb4c1 50%, #df5e69 100%);
}

h1{
    margin-top: 40px;
    color: #752f3c;
    user-select: none;
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn{
    to{opacity: 1;}
}

p{
    color:#3d131b;
    font-family: "Great Vibes", cursive;
    font-weight: 100;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s ease, transform 1s ease;
}

.card.hide {
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none; /* чтобы нельзя было нажимать на кнопки пока исчезает */
}

.hidden {
    display: none;
}

.envelope {
    width: 500px;
    height: 280px;
    background: linear-gradient(180deg, #f66a84 0%, #df649b) ;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.envelope::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 250px solid transparent; 
    border-right: 250px solid transparent;
    border-top: 120px solid #f58499; 
    border-radius: 10px;
}
.envelope::after{
    content: "❤️";
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}


.button-container {
    display: flex;
    justify-content: center; /* Центрируем кнопки по горизонтали */
    gap: 20px; /* Расстояние между кнопками */
    margin-top: 30px;
}

.open-btn, .no-btn {
    padding: 10px 20px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    color: #752f3c;
    font-family: "Playfair Display", serif;
    font-weight: 550;
    transition: transform 1s ease; /* для плавной анимации "убегания" */
}

.open-btn {
    background-color: #e7778b;
}
.open-btn:hover {
    background-color: #ef8fa2;
}

.no-btn {
    background-color: #edabab;
}
.no-btn:hover {
    background-color: #da9898;
}

#letter{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;

    font-family: 'Playfair Display', serif;
    text-align: center;
    overflow: hidden;
    
    background: url("https://fons.grizly.club/uploads/posts/2025-06/05/17490745195515.jpg") no-repeat center/cover;
   background-size: cover;
     
    box-shadow: 100px 100px 100px 10px rgba(255,255,255,0.5) inset;

    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s ease, transform 1s ease;
    z-index: -1;
}

.letter-content{
    max-width: 1200px;
    overflow: hidden;
}

#letter.show{
    opacity: 1;
    transform:translateY(0);
}

#letter::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,0) 70%, #e4c4b9 100%);
}

#hearts-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible;
    z-index: 1000;
}

.heart {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    color: #ff4d6d;
    animation: floatUp 4s linear forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-200px) scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-400px) scale(1);
        opacity: 0;
    }
}

.typewriter {
    overflow: hidden;
    white-space: pre-wrap;
    font-size: 35px;
    line-height: 1.3;
}
